
@{
    ViewBag.Title = "DetailsProgram";
}

<h2>DetailsProgram</h2>
<div class="mt-4">
    <p><strong>Program ID:</strong> @Model.ProgramId</p>
    <p><strong>Program Name:</strong> @Model.ProgramName</p>
    <p><strong>TRP Score:</strong> @Model.TRPScore</p>
    <p><strong>Channel Name:</strong> @Model.Channel.ChannelName</p>
    <p><strong>Channel ID:</strong> @Model.ChannelId</p>
    <p><strong>Air Time:</strong> @Model.AirTime</p>
</div>
