
@{
    ViewBag.Title = "EditChannel";
}

<h2>EditChannel</h2>


<form method="post">
    <input type="hidden" value="@Model.ChannelId" name="ChannelId">

    <label class="form-label" for="ChannelName">Channel Name: </label>
    <input type="text" value="@Model.ChannelName" placeholder="Channel Name" name="ChannelName" class="form-control" />
    <p class="text-danger">@Html.ValidationMessage("ChannelName")</p>

    <label class="form-label" for="EstablishedYear">Established Year: </label>
    <input type="number" value="@Model.EstablishedYear" placeholder="Established Year (1900-Current)" name="EstablishedYear" class="form-control" />
    <p class="text-danger">@Html.ValidationMessage("EstablishedYear")</p>

    <label class="form-label" for="Country">Country: </label>
    <input type="text" value="@Model.Country" placeholder="Country" name="Country" class="form-control" />
    <p class="text-danger">@Html.ValidationMessage("Country")</p>

    <p class="text-success">Associated Programs: </p>
    @if (Model.Programs == null)
    {
        <span class="text-danger">None</span>
    }
    <ul>
        @foreach (var program in Model.Programs)
        {
            <li>@program.ProgramName (TRP: @program.TRPScore, AirTime: @program.AirTime)</li>
        }
    </ul>
    <br>
    <input type="submit" value="Update Channel" class="btn btn-success" />

</form>